body {
    margin: 50px;
    background-image: url(fondos/GrullasAtardecer.png);
    background-size: cover;
}

table {
    background-color: antiquewhite;
    margin: auto;
    width: 70%;
    height: auto;
    border: solid 2px saddlebrown
}

p {
    font-size: 20px;
    text-align: center;
}

h1 {
    font-size: 50px;
    text-align: center;
}
